.button {
	height: 30px;
	background-image: url(./button.png);
}

.menu {
	height: 30px;
	background-image: url(./arrow.png?);
}

.sub-menu {
	height: 30px;
	background-image: url(/arrow.png);
}

.sub-sub-menu {
	height: 30px;
	background-image: url(./arrow.png);
}